@use '../../abstracts/mixins' as *;
@use '../../abstracts/variables' as *;

// Botón del header
.main-button{
	background-color: $blackColor;
	border: none;
	border-radius: .4rem;
	color: $whiteColor;
	font-size: 1.2rem;
	font-weight: bolder;
	outline: none;
	padding: 1.2rem 2.4rem;
	text-transform: uppercase;
	transition: all .4s;

	&:hover{
		background-color: $lightGrey;
		cursor: pointer;
		color: $blackColor;
		transition: all .4s;
	}

}

// Botón negro
.button-article, .button-storie, .button-footer{
	background-color: transparent;
	border: none;
	color: $blackColor;
	column-gap: 2rem;
	display: grid;
	align-items: center;
	font-weight: bolder;
	font-size: 1.4rem;
	grid-template-columns: repeat(2, 1fr);
	outline: none;
	text-transform: uppercase;
	transition: all .4s;

	&:hover{
		transition: all .4s;
		text-decoration: underline;
		cursor: pointer;
	}

	// Clase condicionada
	&.white{
		color: $whiteColor;
	}

}

.button-storie{
	color: white;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 2.4rem;
	width: 100%;
	justify-items: flex-start;
}

.button-storie img{
	justify-self: flex-end;
}

.button-footer{
	color: white;

	@include media-query(tablet){
		grid-template-columns: 1fr 4.2rem;
		font-size: 1.2rem;
	}

	@include media-query(desktop){
		grid-template-columns: repeat(2, 1fr);
		font-size: 1.4rem;
	}

	img{
		justify-self: center;

		@include media-query(tablet){
			justify-self: flex-start;
		}

	}

}

.button-storie--hero{
	width: auto;
	grid-template-columns: max-content 4.2rem;
}