@use '../../abstracts/mixins' as *;

.container-benefits-plan{
	margin-top: 3.2rem;
}

.benefit-grid{
	display: grid;
	grid-template-columns: 1.8rem 1fr;
	column-gap: 1rem;
	align-items: center;
	margin-bottom: 1.2rem;

	h4{
		font-size: 1.5rem;
		font-weight: normal;

		@include media-query(tablet){
			font-size: 1.6rem;
		}

	}

}