@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-switcher{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-switcher-grid{
	display: grid;
	grid-template-columns: max-content 1fr max-content;
  align-items: center;
	column-gap: 3.2rem;
	margin-bottom: 3.2rem;

  @include media-query(tablet){
    margin-bottom: 4.8rem;
  }

  p{
    font-size: 1.8rem;
  }
  
  p.font-weight{
    font-weight: bolder;
  }

}

.switch {
  background-color: #DFDFDF;
  border-radius: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  width: 5.6rem;
  height: 3.2rem;
  padding: .6rem .8rem;
}

.switch[data-ison="true"] {
  justify-content: flex-end;
}

.handle {
  background-color: $blackColor;
  border-radius: 4rem;
  width: 2rem;
  height: 2rem;
}
