@use '../abstracts/mixins' as *;

*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: 'DM Sans', sans-serif;
}

body{
	padding-top: 7.2rem;
	min-height: 100vh;
}

// Clase que ayudará con el width:
.container{
	max-width: 150rem;
	margin: auto;
}