@use '../../abstracts/mixins' as *;

.grid-social-networks{
	display: grid;
	grid-template-columns: repeat(5, 2rem);
	column-gap: 1.2rem;
	justify-content: center;
	margin-bottom: 3.6rem;
	margin-top: 1.2rem;

	@include media-query(tablet){
		justify-content: start;
		margin-top: 0;
		margin-bottom: 2.4rem;
	}

	img{
		width: 2rem;
		height: 2rem;
	}

}