@use '../../abstracts/mixins' as *;

.section-cards, .section-cards-stories{
	display: grid;
	grid-template-rows: repeat(4, minmax(35rem, 40rem));

	@include media-query(tablet){
		grid-template-columns: repeat(2, minmax(29rem, 36rem));
		grid-template-rows: repeat(2, minmax(38rem, 50rem));
		justify-content: center;
	}

	@include media-query(desktop){
		grid-template-columns: repeat(4, minmax(25rem, 36rem));
		grid-template-rows: repeat(1, minmax(38rem, 50rem));
	}
}

.section-cards-stories{
	grid-template-rows: repeat(16, minmax(35rem, 40rem));

	@include media-query(tablet){
		grid-template-rows: repeat(8, minmax(38rem, 50rem));
	}

	@include media-query(desktop){
		grid-template-rows: repeat(4, minmax(38rem, 50rem));
	}

}