@use '../../abstracts/mixins' as *;
@use '../../abstracts/variables' as *;

// Estilos para el hero de Stories
.container-hero{
	padding: 4.8rem 2.4rem;
	background-size: 100% 100%;
	background-position: center center;

	@include media-query(tablet){
		padding: 6rem 4rem;
	}

	@include media-query(desktop){
		padding: 10rem;
	}

}

.container-hero__info{
	max-width: 39rem;
	color: $whiteColor;
	opacity: .8;

	@include media-query(tablet){
		opacity: 1;
	}

	h3{
		font-size: 1.2rem;
		letter-spacing: .2rem;
		text-transform: uppercase;
		margin-bottom: 2rem;
	}

	h2{
		text-transform: uppercase;
		margin-bottom: 1.6rem;
		letter-spacing: .2rem;
	}

	p{
		margin-bottom: 2rem;
	}

}

// Estilos para el hero de Features
.container-hero-feature{
	display: grid;

	.container-feature-info{
		order: 2;
	}

	@include media-query(tablet){
		grid-template-columns: 1fr minmax(25rem, 27rem);

		.container-feature-info{
			order: -2;
		}

	}

	@include media-query(desktop){
		grid-template-columns: 1fr minmax(75rem, 83rem);
	}

	img{
		max-width: 100%;
		width: 100%;
		height: 100%;
	}

}

.container-feature-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $blackColor;
	padding: 7.2rem 2.4rem;

	h2{
		color: $whiteColor;
		margin-bottom: 2rem;
		letter-spacing: .3rem;
	}

	p{
		color: $textGreyDarken;
	}

	@include media-query(tablet){
		align-items: flex-start;
		padding: 10rem 4.8rem;
	}

	@include media-query(desktop){
		align-items: center;
	}
}