@use '../../abstracts/mixins' as *;

.main-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7.2rem;
	padding: 2.4rem;

	@include media-query(tablet){
		padding: 3.2rem;
	}

}